@import "../../../../scss/index.scss";

.navigation-footer {
  @media (max-width: $media-breackpoint-width-sm) {
    margin-top: 30px;
  }

  h3 {
    color: $font-light;
    font-weight: bold;
    @media (max-width: $media-breackpoint-width-sm) {
      border-bottom: blanchedalmond solid 1px;
    }
  }

  ul {
    padding: 0;

    li {
      list-style: none;
      padding: 5px 0;

      a {
        color: $primary-color-dark;
        &:hover {
          color: $primary-color;
        }

        span {
          padding-right: 10px;
        }
      }
    }
  }
}
