@import "../../../scss/index.scss";

.main-banner {
  @media (max-width: 760px) {
    margin-top: 0px;
  }
  margin-top: 15px;
  position: relative;
  height: 500px;
  background-image: url("../../../assets/img/jpg/home-v1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }

  .ant-row {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;

    h2 {
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
      justify-content: center;
      margin-left: 10px;
    }

    h3 {
      color: #fff;
      font-size: 17px;
      justify-content: center;
      margin-left: 10px;
    }
  }
}
