.list-users {
    &-switch {
        display: flex !important;
        align-items: center !important;
        margin-bottom: 20px !important;

        > button {
            margin-right: 20px !important;
        }
    }

    .users-active {
        background-color: #fff;
        padding: 10px 20px;

        .ant-list-item-meta {
            display: felx;
            align-items: center;
        }
    }
}